@import url("./reset.css");
@import url("./vscode.css");
body {
  background-color: transparent;
  font-size: 12px;
  height: 99vh;
  overflow: hidden;
  display: flex;
  user-select: none;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.daily {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 10px;
}
.daily .tag {
  margin-right: 4px;
  color: #999;
  text-align: center;
  font-size: 12px;
}
.daily .tag.tag-blue {
  color: #007faf;
}
.daily .tag.tag-red {
  color: #c9444a;
}
.daily .tag.tag-green {
  color: #007a39;
}
.daily .tag.tag-orange {
  color: #c48845;
}
.daily .tag.tag-yellow {
  color: #d8d540;
}
.daily .flex-0 {
  flex: 0;
}
.daily .flex-1 {
  flex: 1;
}
.daily .flex-2 {
  flex: 2;
}
.daily .flex-3 {
  flex: 3;
}
.daily .flex-4 {
  flex: 4;
}
.daily .flex-5 {
  flex: 5;
}
.daily .flex-6 {
  flex: 6;
}
.daily .flex-7 {
  flex: 7;
}
.daily .flex-8 {
  flex: 8;
}
.daily .flex-9 {
  flex: 9;
}
.daily .flex-10 {
  flex: 10;
}
.daily .flex-11 {
  flex: 11;
}
.daily .flex-12 {
  flex: 12;
}
.daily .flex-13 {
  flex: 13;
}
.daily .flex-14 {
  flex: 14;
}
.daily .flex-15 {
  flex: 15;
}
.daily .flex-16 {
  flex: 16;
}
.daily .flex-17 {
  flex: 17;
}
.daily .flex-18 {
  flex: 18;
}
.daily .flex-19 {
  flex: 19;
}
.daily .flex-20 {
  flex: 20;
}
.daily .flex-21 {
  flex: 21;
}
.daily .flex-22 {
  flex: 22;
}
.daily .flex-23 {
  flex: 23;
}
.daily .flex-24 {
  flex: 24;
}
.daily .flex-25 {
  flex: 25;
}
.daily .flex-26 {
  flex: 26;
}
.daily .flex-27 {
  flex: 27;
}
.daily .flex-28 {
  flex: 28;
}
.daily .flex-29 {
  flex: 29;
}
.daily .flex-30 {
  flex: 30;
}
.daily .flex-31 {
  flex: 31;
}
.daily .flex-32 {
  flex: 32;
}
.daily .flex-33 {
  flex: 33;
}
.daily .flex-34 {
  flex: 34;
}
.daily .flex-35 {
  flex: 35;
}
.daily .flex-36 {
  flex: 36;
}
.daily .flex-37 {
  flex: 37;
}
.daily .flex-38 {
  flex: 38;
}
.daily .flex-39 {
  flex: 39;
}
.daily .flex-40 {
  flex: 40;
}
.daily .flex-41 {
  flex: 41;
}
.daily .flex-42 {
  flex: 42;
}
.daily .flex-43 {
  flex: 43;
}
.daily .flex-44 {
  flex: 44;
}
.daily .flex-45 {
  flex: 45;
}
.daily .flex-46 {
  flex: 46;
}
.daily .flex-47 {
  flex: 47;
}
.daily .flex-48 {
  flex: 48;
}
.daily .flex-49 {
  flex: 49;
}
.daily .flex-50 {
  flex: 50;
}
.daily .flex-51 {
  flex: 51;
}
.daily .flex-52 {
  flex: 52;
}
.daily .flex-53 {
  flex: 53;
}
.daily .flex-54 {
  flex: 54;
}
.daily .flex-55 {
  flex: 55;
}
.daily .flex-56 {
  flex: 56;
}
.daily .flex-57 {
  flex: 57;
}
.daily .flex-58 {
  flex: 58;
}
.daily .flex-59 {
  flex: 59;
}
.daily .flex-60 {
  flex: 60;
}
.daily .flex-61 {
  flex: 61;
}
.daily .flex-62 {
  flex: 62;
}
.daily .flex-63 {
  flex: 63;
}
.daily .flex-64 {
  flex: 64;
}
.daily .flex-65 {
  flex: 65;
}
.daily .flex-66 {
  flex: 66;
}
.daily .flex-67 {
  flex: 67;
}
.daily .flex-68 {
  flex: 68;
}
.daily .flex-69 {
  flex: 69;
}
.daily .flex-70 {
  flex: 70;
}
.daily .flex-71 {
  flex: 71;
}
.daily .flex-72 {
  flex: 72;
}
.daily .flex-73 {
  flex: 73;
}
.daily .flex-74 {
  flex: 74;
}
.daily .flex-75 {
  flex: 75;
}
.daily .flex-76 {
  flex: 76;
}
.daily .flex-77 {
  flex: 77;
}
.daily .flex-78 {
  flex: 78;
}
.daily .flex-79 {
  flex: 79;
}
.daily .flex-80 {
  flex: 80;
}
.daily .flex-81 {
  flex: 81;
}
.daily .flex-82 {
  flex: 82;
}
.daily .flex-83 {
  flex: 83;
}
.daily .flex-84 {
  flex: 84;
}
.daily .flex-85 {
  flex: 85;
}
.daily .flex-86 {
  flex: 86;
}
.daily .flex-87 {
  flex: 87;
}
.daily .flex-88 {
  flex: 88;
}
.daily .flex-89 {
  flex: 89;
}
.daily .flex-90 {
  flex: 90;
}
.daily .flex-91 {
  flex: 91;
}
.daily .flex-92 {
  flex: 92;
}
.daily .flex-93 {
  flex: 93;
}
.daily .flex-94 {
  flex: 94;
}
.daily .flex-95 {
  flex: 95;
}
.daily .flex-96 {
  flex: 96;
}
.daily .flex-97 {
  flex: 97;
}
.daily .flex-98 {
  flex: 98;
}
.daily .flex-99 {
  flex: 99;
}
.daily .flex-100 {
  flex: 100;
}
.daily .block_on {
  background: #00b477;
}
.daily .list {
  flex: 1;
}
.daily .list .msg {
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #999;
  background: #333;
  border-radius: 4px;
}
.daily .list .item {
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.daily .list .item.active .block_on {
  background: #00ffea !important;
}
.daily .list .item.active .task {
  background-image: linear-gradient(315deg, #2a32a5 0, #00a193 100%);
}
.daily .list .item.active .task .more {
  color: #ddd !important;
}
.daily .list .item.active .task .more .btn {
  color: #999 !important;
}
.daily .list .item.active .task .more .btn:hover {
  color: #ddd !important;
}
.daily .list .item.active .task .action {
  color: #999 !important;
}
.daily .list .item.active .task .action:hover {
  color: #ddd !important;
}
.daily .list .item .task {
  background: #333;
  overflow: hidden;
  display: flex;
  padding: 6px 8px;
}
.daily .list .item .task .info {
  flex: 1;
  width: 0;
}
.daily .list .item .task .info .title {
  height: 21px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.daily .list .item .task .info .more {
  color: #999;
  height: 21px;
  line-height: 21px;
  display: flex;
}
.daily .list .item .task .info .more .tm {
  flex: 1;
}
.daily .list .item .task .info .more .btn {
  width: 21px;
  color: #444;
  cursor: pointer;
}
.daily .list .item .task .info .more .btn:hover {
  color: #ccc;
}
.daily .list .item .task .action {
  width: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #444;
  cursor: pointer;
}
.daily .list .item .task .action:hover {
  color: #ccc;
}
.daily .list .item .task .action.action-done {
  color: #00b477;
}
.daily .list .item .task .action.action-done:hover {
  color: #00b477;
}
.daily .list .item .progress {
  display: flex;
  flex-direction: row;
  height: 4px;
  background: #1c1c1c;
}
.daily .total {
  background: #1c1c1c;
  border-radius: 4px;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 10px 0;
  display: flex;
}
.daily .total .v {
  flex: 1;
  text-align: center;
  z-index: 1;
  position: relative;
}
.daily .total .progress {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=main.css.map */
